<script setup lang="ts">
import AuthenticatedLayout from '@/Layouts/AuthenticatedLayout.vue';
import { Head, useForm } from '@inertiajs/vue3';
import InputError from '@/Components/InputError.vue';
import InputLabel from '@/Components/InputLabel.vue';
import PrimaryButton from '@/Components/PrimaryButton.vue';
import TextInput from '@/Components/TextInput.vue';
import FileUpload from 'primevue/fileupload';
import Dropdown from 'primevue/dropdown';

const props = defineProps<{
    id?: number | undefined;
    name?: string | undefined;
    brand_id?: number | undefined;
    production_year?: number | undefined;
    price?: number | undefined;
    stock?: number | undefined;
    brands?: Array<any>;
}>();

const form = props.name ? useForm({
    _method: 'put',
    brand_id: props.brand_id!,
    name: props.name!,
    production_year: props.production_year!,
    price: props.price!,
    stock: props.stock!,
    photo: null,
}) : useForm({
    brand_id: null,
    name: null,
    production_year: null,
    price: null,
    stock: null,
    photo: null,
});
</script>

<template>

    <Head title="Car" />

    <AuthenticatedLayout>
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 dark:text-gray-200 leading-tight">Car</h2>
        </template>

        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8 space-y-6">
                <div class="p-4 sm:p-8 bg-white dark:bg-gray-800 shadow sm:rounded-lg">
                    <form @submit.prevent="props.name ? form.post(route('cars.update', props.id)) : form.post(route('cars.store'))" class="mt-6 space-y-6">
                        <div>
                            <InputLabel for="name" value="Name" />

                            <TextInput id="name" type="text" class="mt-1 block w-full" v-model="form.name" required
                                autofocus autocomplete="name" />

                            <InputError class="mt-2" :message="form.errors.name" />
                        </div>

                        <div>
                            <InputLabel for="production_year" value="Production Year" />

                            <TextInput id="production_year" type="text" class="mt-1 block w-full" v-model="form.production_year" required
                             />

                            <InputError class="mt-2" :message="form.errors.production_year" />
                        </div>

                        <div>
                            <InputLabel for="price" value="Price" />

                            <TextInput id="price" type="text" class="mt-1 block w-full" v-model="form.price" required
                             />

                            <InputError class="mt-2" :message="form.errors.price" />
                        </div>

                        <div>
                            <InputLabel for="stock" value="Stock" />

                            <TextInput id="stock" type="text" class="mt-1 block w-full" v-model="form.stock" required
                             />

                            <InputError class="mt-2" :message="form.errors.stock" />
                        </div>

                        <div>
                            <InputLabel for="brand" value="Brand" />
                            <Dropdown v-model="form.brand_id" :options="brands" optionValue="id" optionLabel="name" placeholder="Select a Brand" class="w-full md:w-14rem" />

                        </div>

                        <div>
                            <InputLabel for="photo" value="Photo" />
                            <FileUpload @input="form.photo = $event.target.files[0]" :showUploadButton="false" :showCancelButton="false" v-model="form.photo" name="file" :multiple="false" accept="image/*" :maxFileSize="1000000">
                                <template #empty>
                                    <p>Drag and drop files to here to upload.</p>
                                </template>
                            </FileUpload>
                        </div>

                        <div class="flex items-center gap-4">
                            <PrimaryButton :disabled="form.processing">Save</PrimaryButton>

                            <Transition enter-active-class="transition ease-in-out" enter-from-class="opacity-0"
                                leave-active-class="transition ease-in-out" leave-to-class="opacity-0">
                                <p v-if="form.recentlySuccessful" class="text-sm text-gray-600 dark:text-gray-400">
                                    Saved.</p>
                            </Transition>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </AuthenticatedLayout>
</template>
