<script setup lang="ts">
import AuthenticatedLayout from '@/Layouts/AuthenticatedLayout.vue';
import { Head, useForm, Link } from '@inertiajs/vue3';
import InputLabel from '@/Components/InputLabel.vue';

const props = defineProps<{
    id?: number | undefined;
    name?: string | undefined;
    brand_id?: number | undefined;
    production_year?: number | undefined;
    price?: number | undefined;
    stock?: number | undefined;
    brand_name?: string | undefined;
    photo_url?: string | undefined;
    brands?: Array<any>;
}>();

const form = props.name ? useForm({
    _method: 'put',
    brand_id: props.brand_id!,
    name: props.name!,
    production_year: props.production_year!,
    price: props.price!,
    stock: props.stock!,
    photo: null,
}) : useForm({
    brand_id: null,
    name: null,
    production_year: null,
    price: null,
    stock: null,
    photo: null,
});
</script>

<template>

    <Head title="Car" />

    <AuthenticatedLayout>
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 dark:text-gray-200 leading-tight">Car</h2>
        </template>

        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8 space-y-6">
                <div class="p-4 sm:p-8 bg-white dark:bg-gray-800 shadow sm:rounded-lg">
                    <form @submit.prevent="props.name ? form.post(route('cars.update', props.id)) : form.post(route('cars.store'))" class="mt-6 space-y-6">
                        <div>
                            <InputLabel for="name" value="Name" />

                            {{ props.name }}
                        </div>

                        <div>
                            <InputLabel for="production_year" value="Production Year" />

                            {{ props.production_year }}
                        </div>

                        <div>
                            <InputLabel for="price" value="Price" />

                            {{ props.price }}
                        </div>

                        <div>
                            <InputLabel for="stock" value="Stock" />

                            {{ props.stock }}
                        </div>

                        <div>

                            <InputLabel for="stock" value="Brand" />
                            {{ props.brand_name }}

                        </div>

                        <div>
                            <InputLabel for="stock" value="Photo" />

                            <img :src="props.photo_url" :alt="props.name">
                        </div>

                        <div class="flex items-center gap-4">
                            <Link :href="route('cars.edit', props.id)" class="inline-flex items-center px-4 py-2 bg-gray-800 dark:bg-gray-200 border border-transparent rounded-md font-semibold text-xs text-white dark:text-gray-800 uppercase tracking-widest hover:bg-gray-700 dark:hover:bg-white focus:bg-gray-700 dark:focus:bg-white active:bg-gray-900 dark:active:bg-gray-300 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 dark:focus:ring-offset-gray-800 transition ease-in-out duration-150">Edit</Link>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </AuthenticatedLayout>
</template>
