<script setup lang="ts">
import AuthenticatedLayout from '@/Layouts/AuthenticatedLayout.vue';
import { Head, useForm } from '@inertiajs/vue3';
import InputError from '@/Components/InputError.vue';
import InputLabel from '@/Components/InputLabel.vue';
import PrimaryButton from '@/Components/PrimaryButton.vue';
import TextInput from '@/Components/TextInput.vue';
import Dropdown from 'primevue/dropdown';

const props = defineProps<{
    id?: number | undefined;
    name?: string | undefined;
    email?: string | undefined;
    phone?: string | undefined;
    car_id?: string | undefined;
    cars: Array<any>;
}>();

const formBase = {
    name: props.name!,
    email: props.email!,
    phone: props.phone!,
    car_id: props.car_id!
};

const formModel = props.name ? {...formBase, _method: 'put'} : formBase;

const form = useForm(formModel);
</script>

<template>

    <Head title="Customer" />

    <AuthenticatedLayout>
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 dark:text-gray-200 leading-tight">Customer</h2>
        </template>

        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8 space-y-6">
                <div class="p-4 sm:p-8 bg-white dark:bg-gray-800 shadow sm:rounded-lg">
                    <form @submit.prevent="props.name ? form.post(route('customers.update', props.id)) : form.post(route('customers.store'))" class="mt-6 space-y-6">
                        <div>
                            <InputLabel for="name" value="Name" />

                            <TextInput id="name" type="text" class="mt-1 block w-full" v-model="form.name" required
                                autofocus autocomplete="name" />

                            <InputError class="mt-2" :message="form.errors.name" />
                        </div>

                        <div>
                            <InputLabel for="email" value="Email" />

                            <TextInput id="email" type="email" class="mt-1 block w-full" v-model="form.email" required
                                autocomplete="username" />

                            <InputError class="mt-2" :message="form.errors.email" />
                        </div>

                        <div>
                            <InputLabel for="phone" value="Phone" />

                            <TextInput id="phone" type="text" class="mt-1 block w-full" v-model="form.phone" required
                                autocomplete="phone" />

                            <InputError class="mt-2" :message="form.errors.phone" />
                        </div>

                        <div>
                            <Dropdown v-model="form.car_id" :options="cars" optionValue="id" optionLabel="name" placeholder="Select a Car" class="w-full md:w-14rem" />

                        </div>

                        <div class="flex items-center gap-4">
                            <PrimaryButton :disabled="form.processing">Save</PrimaryButton>

                            <Transition enter-active-class="transition ease-in-out" enter-from-class="opacity-0"
                                leave-active-class="transition ease-in-out" leave-to-class="opacity-0">
                                <p v-if="form.recentlySuccessful" class="text-sm text-gray-600 dark:text-gray-400">
                                    Saved.</p>
                            </Transition>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </AuthenticatedLayout>
</template>
