<script setup lang="ts">
import AuthenticatedLayout from '@/Layouts/AuthenticatedLayout.vue';
import { Head, useForm } from '@inertiajs/vue3';
import InputError from '@/Components/InputError.vue';
import InputLabel from '@/Components/InputLabel.vue';
import PrimaryButton from '@/Components/PrimaryButton.vue';
import TextInput from '@/Components/TextInput.vue';
import Dropdown from 'primevue/dropdown';

const props = defineProps<{
    name?: string | undefined;
    email?: string | undefined;
    phone?: string | undefined;
    car_id?: string | undefined;
    car_name?: string | undefined;
    cars: Array<any>;
}>();

const form = useForm({
    name: props.name!,
    email: props.email!,
    phone: props.phone!,
    car_id: props.car_id!
});
</script>

<template>

    <Head title="Customer" />

    <AuthenticatedLayout>
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 dark:text-gray-200 leading-tight">Customer</h2>
        </template>

        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8 space-y-6">
                <div class="p-4 sm:p-8 bg-white dark:bg-gray-800 shadow sm:rounded-lg">
                    <form @submit.prevent="form.post(route('customers.store'))" class="mt-6 space-y-6">
                        <div>
                            <InputLabel for="name" value="Name" />

                            {{ props.name }}
                        </div>

                        <div>
                            <InputLabel for="email" value="Email" />

                            {{ props.email }}
                        </div>

                        <div>
                            <InputLabel for="phone" value="Phone" />

                            {{ props.phone }}
                        </div>

                        <div>
                            <InputLabel for="car" value="Car" />

                            {{ props.car_name }}
                        </div>

                        <div class="flex items-center gap-4">
                            <PrimaryButton :disabled="form.processing">Save</PrimaryButton>

                            <Transition enter-active-class="transition ease-in-out" enter-from-class="opacity-0"
                                leave-active-class="transition ease-in-out" leave-to-class="opacity-0">
                                <p v-if="form.recentlySuccessful" class="text-sm text-gray-600 dark:text-gray-400">
                                    Saved.</p>
                            </Transition>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </AuthenticatedLayout>
</template>
